---
import Layout from "../layouts/Layout.astro";
import Card from "../components/cardImportant.astro";
import CardArea from "../components/cardArea.astro";
import CardFich from "../components/cardFich.astro";
import CardPages from "../components/cardPages.astro";
import CardPropuesta from "../components/cardPropuesta.astro";
import Hero from "../components/Hero.astro";
---

<Layout>
  <Hero />
  <CardPages title="INGRESO 2025" href="" />
  <CardPages title="POSGRADO" href="" />
  <CardPages title="GRADUADOS" href="" />
  <section class="propuestas">
    <h2>Propuesta Academica</h2>
    <div>
      <CardPropuesta
        title="PREGRADO"
        href=""
        image="https://i.pinimg.com/564x/68/dd/94/68dd9494155a73631be0b321114b8b86.jpg"
      /><CardPropuesta
        title="GRADO"
        href=""
        image="https://i.pinimg.com/564x/68/dd/94/68dd9494155a73631be0b321114b8b86.jpg"
      /><CardPropuesta
        title="POSGRADO"
        href=""
        image="https://i.pinimg.com/564x/68/dd/94/68dd9494155a73631be0b321114b8b86.jpg"
      /><CardPropuesta
        title="DISTANCIA"
        href=""
        image="https://i.pinimg.com/564x/68/dd/94/68dd9494155a73631be0b321114b8b86.jpg"
      />
    </div>
  </section>
  <CardPages title="HORARIOS DE CURSADO" href="" />
  <section class="areas">
    <h2>Area Academica</h2>
    <div>
      <CardArea
        title="ACOFICH"
        body="Asociacion cooperadora"
        href=""
        image="https://i.pinimg.com/564x/68/dd/94/68dd9494155a73631be0b321114b8b86.jpg"
      /><CardArea
        title="CIM"
        body="Informacion meteorologica"
        href=""
        image="https://i.pinimg.com/564x/68/dd/94/68dd9494155a73631be0b321114b8b86.jpg"
      /><CardArea
        title="Arg Cap-Net"
        body="Red de capacitacion"
        href=""
        image="https://i.pinimg.com/564x/68/dd/94/68dd9494155a73631be0b321114b8b86.jpg"
      /><CardArea
        title="Catedra UNESCO"
        body="En Agua y Educacion"
        href=""
        image="https://i.pinimg.com/564x/68/dd/94/68dd9494155a73631be0b321114b8b86.jpg"
      />
    </div>
  </section>
  <section class="cards">
    <CardFich title="INFO FICH" href="" />
    <CardFich title="E-FICH" href="" />
  </section>
  <section class="cards">
    <Card
      title="biblioteca"
      body="La Biblioteca Centralizada Dr. Ezio Emiliani unifica el acervo de las bibliotecas de FICH, FBCB, ESS y FCM."
      href=""
    /><Card
      title="SIU-Guarani GRADO"
      body="Sistema que registra y administra todas las actividades académicas de las y los estudiantes de grado."
      href=""
    /><Card
      title="SIU-Guarani POSGRADO"
      body="Sistema que registra y administra todas las actividades académicas de las y los estudiantes de posgrado."
      href=""
    /><Card
      title="Directorio Telefonico"
      body="Datos de contacto de oficinas administrativas, de gestión, docencia e investigación de la facultad."
      href=""
    /><Card
      title="Portal de Autogestion"
      body="Permite al personal docente y no docente de la UNL realizar trámites, como la obtención de recibos de haberes."
      href=""
    /><Card
      title="Guia de Tramites"
      body="Trámites más frecuentes que deben realizar docentes, nodocentes, estudiantes y graduados de la facultad."
      href=""
    />
  </section>
  <CardPages title="EXPOSICIONES Y DEFENSAS DE TESIS" href="" />
</Layout>

<style>
  .propuestas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: var(--primary-color);
    padding: 15px;
    gap: 15px;
    width: 100%;

    div {
      display: flex;
      gap: 15px;
    }
  }
  .areas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: var(--primary-color);
    padding: 15px;
    gap: 15px;
    width: 100%;

    div {
      display: flex;
      gap: 15px;
    }
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    border-radius: 20px;
    background-color: var(--primary-color);
    padding: 15px;
    gap: 15px;
    width: 100%;
  }
</style>
