---
import Facebook from "../assets/Facebook.astro";
import Instagram from "../assets/Instagram.astro";
import Logo from "../assets/Logo.astro";
import Twitter from "../assets/Twitter.astro";
import Youtube from "../assets/Youtube.astro";
---

<footer>
  <Logo />
  <div>
    <div class="redes">
      <a href="https://www.facebook.com/fich.santafe.unl/" target="_blank">
        <Facebook />
      </a>
      <a href="https://www.instagram.com/fichunl/" target="_blank">
        <Instagram />
      </a>
      <a href="https://twitter.com/unlfich?lang=es" target="_blank">
        <Twitter />
      </a>
      <a
        href="https://www.youtube.com/channel/UCu6dM3q5cluMmU_tdmUyqLQ"
        target="_blank"
      >
        <Youtube />
      </a>
    </div>
    <hr />
    <p>© 2024 FICH | UNIVERSIDAD NACIONAL DEL LITORAL</p>
  </div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    background-color: var(--foreground-color);

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      gap: 10px;

      div {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }

      p {
        font-size: 12px;
      }
    }
  }
</style>
